<nz-card [nzBordered] nzTitle="Organisation List" nzHoverable>
    <div style="width: 100px;">
        <!-- <ng-template #extraTemplate> -->
        <button nz-button nzType="primary" [routerLink]="['/org-form']"><i nz-icon nzType="plus-circle" nzTheme="outline"></i>Create</button>
        <!-- </ng-template> -->
    </div>
    <nz-tabset nzLinkRouter>
        <nz-tab>
            <a nz-tab-link [routerLink]="['/org-list']">Organisation list</a>
        </nz-tab>
        <nz-tab>
            <a nz-tab-link [routerLink]="['/org-form']">Detail 1</a>
        </nz-tab>
    </nz-tabset>
    <router-outlet></router-outlet>
</nz-card>